graft docs
prune docs/_build
global-exclude *.py[cod] __pycache__
include LICENSE
include version.json
include *.txt
include mypy.ini
include tox.ini
recursive-include blessed *.pyi py.typed
recursive-include tests *.py *.ans
